[tool.black]
line-length = 90
target-version = ['py37']
include = '\.pyi?$'

[tool.isort]
multi_line_output=3
include_trailing_comma=true
force_grid_wrap=0
use_parentheses=true
line_length=90
ensure_newline_before_comments=true

[tool.pylint]
max-line-length = 90
